<launch>

<arg name="navigation" default="true"/>

<include file="$(find dd2419_simulation)/launch/simulation.launch" />
<!--    <arg name="ch" default="92"/> -->
<!-- </include> -->

<include file="$(find dd2419_simulation)/launch/aruco.launch">
      <arg name="gui" default="false"/>
</include>

<!-- <node if="$(arg navigation)"
      name="navgoal"
      pkg="part2"
      type="navgoal3"/> -->

<node name="link_broadcaster_odom"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="$0 0 0 0 0 0 map cf1/odom"/>

<node type="rviz"
      name="rviz"
      pkg="rviz"
      args="-d $(find pras_project)/rviz/crazy_flie.rviz" />

<!--<node name="aruco_md"
      pkg="dd2419_simulation"
      type="arucomd"/> -->


<!-- <node name="task3"
      pkg="cf_first_flight"
      type="task3"/> -->

</launch>