<launch>

<arg name="navigation" default="true"/>

<include file="$(find dd2419_launch)/launch/base.launch">
    <arg name="ch" default="92"/>
</include>


<node if="$(arg navigation)"
      name="navgoal"
      pkg="part2"
      type="navgoal3"/>

<node name="link_broadcaster_odom"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="$0 0 0 0 0 0 map cf1/odom"/>

<node type="rviz"
      name="rviz"
      pkg="rviz"
      args="-d $(find pras_project)/rviz/crazy_flie.rviz" />

<!--<node name="aruco_md"
      pkg="dd2419_simulation"
      type="arucomd"/> -->


<!-- <node name="task3"
      pkg="cf_first_flight"
      type="task3"/> -->

 <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie2.urdf.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find pras_project)/scripts/pathplanning/maps/empty.yaml">
  </node>
<node pkg="pras_project" type="$(find pras_project)/scripts/pathplanning/crazyflie_pub" name="crazyflie_pub" />
<node name="trajectory_planner" pkg="pras_project" type="$(find pras_project)/scripts/pathplanning/trajectory_planner.py">
  <remap from="grid_map" to="map"/>
</node>


</launch>
