<launch>

<arg name="navigation" default="true"/>

<include file="$(find dd2419_launch)/launch/base.launch">
    <arg name="ch" default="92"/>
</include>


<!-- <node name="link_broadcaster_odom"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="$0 0 0 0 0 0 map cf1/odom"/> -->

  <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie2.urdf.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" />
<node pkg="pras_project" type="Map2odom" name="Map2odom" />
<node pkg="pras_project" type="occupancy_grid" name="occupancy_grid" />
<node pkg="pras_project" type="crazyflie_pub" name="crazyflie_pub" />

<node name="trajectory_planner" pkg="pras_project" type="trajectory_planner_edited.py">
  <remap from="grid_map" to="map"/>
</node>


<node pkg="pras_project" type="odo_map_tfpub.py" name="odo_map_tfpb" />


</launch>
