<launch>

<node pkg="shadow" type="Map2odom" name="Map2odom" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie2.urdf.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" />

  <arg name="Map1" default="/home/maverick/dd2419_ws/src/Crazy_Drone/scripts/Map1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg Map1)" />

<node pkg="Crazy_Drone" type="odom_publish" name="odom_publish" />

<node pkg="Crazy_Drone" type="crazyflie_pub" name="crazyflie_pub" />

<node pkg="Crazy_Drone" type="crazyflie_start_pub" name="crazyflie_start_pub" />

<node name="trajectory_planner" pkg="Crazy_Drone" type="trajectory_planner.py">
  <remap from="grid_map" to="map"/>
</node>
</launch>
