<launch>

<node type="rviz"
      name="rviz"
      pkg="rviz"
       />

<node name="republish"
      type="republish"
      pkg="image_transport"
      args="compressed in:=/cf1/camera/image_raw/ raw out:=/cf1/camera/image_raw/decompressed" />

<node pkg="tf2_ros"
      type="static_transform_publisher"
      name="tf2"
      args="0 0 0 0 0 0 map cf1/odom"/>

<!--<node name="true_sign_tf_pub"
      pkg="pras_project"
      type="pubpose.py"
      args="$(find pras_project)/data/poses.txt"/> -->

<node name="loop_rosbag"
      pkg="rosbag"
      type="play"
      args = "-l $(find pras_project)/bags/long.bag"/>
      <!-- args= "-l /home/robot/sign_training_bags/bags/long_general_sunlight.bag"/> -->
      <!-- args= "-l $(find perc_ch1)/bags/long.bag"/> -->

<node name = "rosbag_tf" 
      pkg = "pras_project"
      type = "rosbag_tf" />




</launch>
