<launch>

<node type="rviz"
      name="rviz"
      pkg="rviz"
      args="-d $(find perc_ch1)/rviz/perc_ch.rviz" />
<!---
<node name="republish"
      type="republish"
      pkg="image_transport"
      args="compressed in:=/cf1/camera/image_raw/ raw out:=/cf1/camera/image_raw/decompressed" />


<node name="true_sign_tf_pub"
      pkg="perc_ch1"
      type="pubpose.py"
      args="$(find perc_ch1)/data/poses.txt"/>
-->

<node name="loop_rosbag"
      pkg="rosbag"
      type="play"
      args= "-l /home/robot/sign_training_bags/bags/warning_right_turn.bag"/>

<node name="publish_warps"
      pkg="perc_ch1"
      type="perc_ch_full.py"/>
<!-- rosrun image_view image_saver image:=/warp -->
<!--
<node name="save_imgs"
      pkg="image_view"
      type="image_saver">
      <param name="image" value="/warp" />

</node>
-->



</launch>
